<div class="container">
  <app-todo-card class="card-container"
    *ngFor="let todo of info; let i = index"
    (click)="onModalOpen(todo.title, todo.description)"
    [title]="todo.title"
    [imageUrl]="todo.imageUrl"
    [description]="todo.description"
    [dueDate]="todo.dueDate">
  </app-todo-card>
</div>
<div class="modal" [class]="isActive">
  <div class="modal-background" (click)="onCloseModal()"></div>
  <div class="modal-content">
    <div class="card">
    <div class="card-content">
      <div class="content">
        <h3>{{modalTitle}}</h3>
        <br>
        <p>{{modalDescription}}</p>
        <br>
        <h1>Please get your work done :)</h1>
      </div>
    </div>
    </div>
  </div>
  <button class="modal-close is-large" aria-label="close" (click)="onCloseModal()"></button>
</div>
