
<div class="container">

  <app-todo-card  class="card-container"
                 *ngFor="let todo of info | slice:0:num"
                 [title]="todo.title"
                 [imageUrl]="todo.imageUrl"
                 [description]="todo.description"
                 [dueDate]="todo.dueDate"
                 >s
  </app-todo-card>


</div>

<div class="alert-container" [ngClass]="num == 10 ? 'show' : ''">
  <p class="alert-message">You are not able to add new cards, your limit reached</p>
</div>

  <button class="button is-primary is-rounded next-button"  [disabled]="addIsDisabled" (click)="addCard()"> Add Card</button>
  <button class="button is-danger is-rounded prev-button"  [disabled]="removeIsDisabled"  (click)="removeCard()"> Remove Card</button>
  <button class="button is-link is-rounded reset-button"  [disabled]="resetIsDisabled" (click)="resetCards()"> Reset Card</button>
